{% extends "djepoMainBundle::layout.html.twig" %}
   {% if form is defined %}
 {% form_theme form "djepoLocationBundle:Form:fields.html.twig" %} 
 {% endif %}
 
{% block meta %} 
    <meta name="description" content="Modifier  photos"> 
    <meta name="keywords" content="Modifier  photos"> 
    <meta name='ROBOTS' content='NOINDEX, NOFOLLOW'> 
{% endblock %}
 

{% block title %} Modifier  photos   {% endblock %}
{% block stylesheets %} {{ parent() }}  {% endblock %}

{% block navigsite %}
          <ol class="breadcrumb">
            <li> <a href="{{ path('djepoMain_accueil') }}" rel="nofollow"> {{ djepo_home }} </a> </li>            
            <li><a  href="{{ path('djepoUser_profile') }}" rel="nofollow"> Admin </a></li>             
            <li><a href="{{ path('logement_mes_annonces') }}" rel="nofollow"> Mes annonces </a> </li> {# appel de logement   #}
            <li class="active"> Modifier  photos </li>
        </ol>
 {% endblock %}

{% block my_content %}
    <h1>Modification d une image</h1>
 <div class="row">
       <div class="col-sm-offset-1 col-sm-10">
    <form action="{{ path('djepoImg_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
        <input type="hidden" name="_method" value="PUT" />
        {% include "djepoLocationBundle:image:new_content.html.twig" %}{# {{ form_widget(form) }}#}
               {{ form_rest(form) }} <br>
        <div class=" row form-group">
               <div class="col-sm-5">
                   <input type="submit" class="btn btn-primary btn-block" value="MODIFIER" /> 

               </div>	   
        </div>
    </form>
 </div>
 </div>
            <ul class="record_actions">
        <li>
         {% if is_granted('ROLE_SUPER_ADMIN') %}
                 <a href="{{ path('djepoImg') }}" rel="nofollow"> Retour Index photos </a>  </li>
          {% else %}
                 <a href="{{ path('logement_mes_annonces') }}" rel="nofollow">  Retour Mes annonces </a> {# appel de logement   #}
         {% endif %}

         {% if is_granted('ROLE_SUPER_ADMIN') %}
        <li>
            <form action="{{ path('djepoImg_delete', { 'id': entity.id }) }}" method="post">
                <input type="hidden" name="_method" value="DELETE" />
                {{ form_widget(delete_form) }}
                <button type="submit">Delete</button>
            </form>
        </li>
     {% endif %}
</ul>
{% endblock %}
