{% extends "djepoMainBundle::layout.html.twig" %}
  
{% block meta %} 
            <meta name="description" content="Afficher une évaluation"> 
                 <meta name="keywords" content="Afficher une évaluation"> 
     <meta name='ROBOTS' content='NOINDEX, NOFOLLOW'> 
         {% endblock %}
 

{% block title %} Afficher une évaluation   {% endblock %}
{% block stylesheets %}   {{ parent() }}  {% endblock %}

{% block navigsite %}
          <ol class="breadcrumb">
            <li> <a href="{{ path('djepoMain_accueil') }}"> {{ djepo_home }} </a> </li>
             <li> <a href="{{ path('eval') }}"> Mes evaluations </a> </li>
            <li class="active"> Afficher une évaluation </li>
        </ol>
 {% endblock %}

{% block my_content %}
    
    <h1>evaluation</h1>

    <table class="table table-condensed table-bordered">
        <tbody>
          {% if is_granted('ROLE_ADMIN') %}
              <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
             {% endif %}
            <tr>
                <th>Note</th>
                <td>{{ entity.note }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ entity.commentaire }}</td>
            </tr>
            <tr>
                <th>Dateevaluation</th>
                <td>{{ entity.dateEvaluation|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
            <li>
                <a href="{{ path('eval') }}">  Mes évaluations  </a>
            </li><br /><br />
             {% if is_granted('ROLE_ADMIN') %}
                    <li>
                        <a href="{{ path('eval_edit', { 'id': entity.id }) }}"> Modifier </a><br />
                    </li>
                    <li><br />
                        <form action="{{ path('eval_delete', { 'id': entity.id }) }}" method="post">
                            <input type="hidden" name="_method" value="DELETE" />
                            {{ form_widget(delete_form) }}
                            <button type="submit">Supprimer l'évaluation</button>
                        </form>
                    </li>
              {% endif  %}
        </ul>
{% endblock %}
