{% extends "djepoMainBundle::layout.html.twig" %}
  
{% block meta %} 
            <meta name="description" content="Afficher une location"> 
                 <meta name="keywords" content="Afficher une location"> 
     <meta name='ROBOTS' content='NOINDEX, NOFOLLOW'> 
         {% endblock %}
 

{% block title %} Afficher une location   {% endblock %}
{% block stylesheets %}   {{ parent() }}  {% endblock %}
 {% if entity.valide == false %}
     {% set myAct = 'Comfirmer la demande de réservation' %}
  {% else  %}
      {% set myAct = 'Afficher une location' %}
   {% endif  %}   

{% block navigsite %}
          <ol class="breadcrumb">
            <li> <a href="{{ path('djepoMain_accueil') }}"> {{ djepo_home }} </a> </li>
            <li><a  href="{{ path('djepoUser_profile') }}"> Admin </a></li>
            {% if app.session.get('selecteur') == 'Pro' %}
                 <li> <a href="{{ path('reservation_pro') }}"> Mes locations </a> </li>
             {% else %}
                 <li> <a href="{{ path('reservation_van') }}"> Mes locations </a> </li>
             {% endif %}
            <li class="active"> {{ myAct }} </li>
        </ol>
 {% endblock %}

{% block my_content %}
        <h1>location</h1>
      <table class="table table-striped  table-condensed table-bordered">
            <tbody>
               {% if is_granted('ROLE_PROPRIO') %} 
                    {% if is_granted('ROLE_ADMIN') %}
                    <tr>
                      <th>Id</th>
                      <td>{{ entity.id }}</td>
                    </tr> 
                {% endif %}
                {% if entity.user.personne.firstname!= ""  %}
                  <tr>
                    <th>Firstname</th>
                    <td>{{ entity.user.personne.firstname }}</td>
                </tr>
                  {% endif %}
            {% if entity.user.personne.lastname!= ""  %}
                <tr>
                    <th>lastname</th>
                    <td>{{ entity.user.personne.lastname }}</td>
                </tr>
                  {% endif %}
                {% if entity.user.email!= ""  %} 
                <tr>
                    <th>Email</th>
                    <td>{{ entity.user.email }}</td>
                </tr>
                  {% endif %}

               {% endif %}
                <tr>
                    <th>Date début location</th>
                    <td>{{ entity.dateLocation|date('d-m-Y')  }}</td>
                </tr>
                <tr>
                    <th>Date fin location</th>
                    <td>{{ entity.dateFinLocation|date('d-m-Y') }}</td>
                </tr>
                 {% if entity.logement.montantLoyer  != ""  %}
                <tr>
                    <th>Montant </th>
                    <td>{{ entity.logement.montantLoyer }}</td>
                </tr>
                 {% endif %}
                  {% if  entity.logement.typeImmeuble  != ""  %}
                <tr>
                    <th>Type de location</th>
                    <td>{{ entity.logement.typeImmeuble }}</td>
                </tr>
                 {% endif %}
                {#  {% if   != ""  %}
                <tr>
                    <th>Montant des charges </th>
                    <td>{{ entity.montantCharges }}</td>
                </tr>
                 {% endif %} #}
            </tbody>
        </table>

       <ul class="nav nav-pills">
           
         {% if is_granted('ROLE_PROPRIO') %} {# ROLE_ADMIN #}
             {% if entity.valide == false %}
                   <li>
                  <form action="{{ path('location_confirmer', { 'id': entity.id }) }}" method="post">
                    {{ form_widget(confirmer_form) }}
                    <button type="submit">Confirmer</button>
                 </form> 
                </li>
              {% endif %}
            {% if is_granted('ROLE_SUPER_ADMIN') %}
            <li>
                <form action="{{ path('location_delete', { 'id': entity.id }) }}" method="post">
                    <input type="hidden" name="_method" value="DELETE" />
                    {{ form_widget(delete_form) }}
                    <button type="submit">Delete</button>
                </form>
            </li>
        {% endif  %}
    {% endif %}
      </ul>
      <br /><br />
     <ul class="nav nav-pills">
          {% if app.session.get('selecteur') == 'Pro' %}
                    <li>
                        <a href="{{ path('reservation_pro') }}">  retour à la liste des réservations  </a>
                    </li>
            {% endif %}
            {% if app.session.get('selecteur') == 'Van' %}   
                    <li>
                        <a href="{{ path('reservation_van') }}">  retour à la liste des réservations  </a>
                    </li>
           {% endif  %}
    
     </ul>
{% endblock %}
