{# empty Twig template #}
{% extends "form_div_layout.html.twig" %}

 
{% block choice_widget %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' form-control input-sm'}) %} 
        {{ parent() }}
     
{% endblock choice_widget %}

{% block textarea_widget %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' form-control'}) %}
    {{ parent() }}
    {% if help is defined %}
        <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="{{ help }}"> </span>
    {% endif %} 
{% endblock textarea_widget %}
 
{% block form_widget_simple %}
    {% set attr = attr|merge({'class': attr.class|default('') ~ ' form-control'}) %}
    {{ parent() }}
    {% if help is defined %}
        <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="{{ help }}"> </span>
    {% endif %}  
    
{% endblock form_widget_simple %}
 
{% block form_label %}
    {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' control-label')|trim}) %}
         {{ parent() }}
         {% if required %}
               <span class="required ast" title="Ce champ est obligatoire">*</span>
        {% endif %}
  
{% endblock form_label %}
 
 
 {% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <span class="help-block alert-danger">
                {% for error in errors %}
                    {{ error.message }}<br />
                {% endfor %}
            </span>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}
 

 
 