    <h1>logement list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Libelle</th>
                <th>Nombrepiece</th>
                <th>Typeimmeuble</th>
                <th>Surface</th>
                <th>Transport</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.libelle }}</td>
                <td>{{ entity.nombrePiece }}</td>
                <td>{{ entity.typeImmeuble }}</td>
                <td>{{ entity.surface }}</td>
                <td>{{ entity.transport }}</td>
                <td>
                                        
                     <ul>  <li> <a href="{{ path('logement_logementShow',  { 
                                   'ville': comparateurString(entity.propriete.adresse.ville.nomVille),
                                   'tLogement': comparateurString(entity.typeImmeuble),
                                   'id': entity.id ,
                                   'libelle': comparateurString(entity.libelle)
                                }) }}"> détail de l'Annonce </a>  </li> </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
