{{ "{% extends 'djepoMainBundle::layout.html.twig' %}" }}
{{' {% if form is defined %} ' }} 
{{'  {% form_theme form "djepoLocationBundle:Form:fields.html.twig" %}  ' }} 
 {{' {% endif %} ' }} 
{{ "{% block meta %} "}}
	 <meta name="description" content="{{ entity }}">
	 <meta name='ROBOTS' content="noindex,nofollow">
{{' {% endblock %} ' }} 

{{' {% block navigsite %} '}}
          <ol class="breadcrumb">
            <li> <a href="#"> # </a> </li>
            <li><a  href="#"> Admin </a></li>
            <li class="active">{{ entity }} list </li>
        </ol>
{{' {% endblock %} ' }}
 
 {{'{% block my_content %}' }}
    <h1>{{ entity }} creation</h1>

    <form action="{{ "{{ path('" ~ route_name_prefix ~ "_create') }}" }}" method="post" {{ "{{ form_enctype(form) }}" }}>
        {{ "{{ form_widget(form) }}" }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>

    {% set hide_edit, hide_delete = true, true %}
    {% include 'views/others/record_actions.html.twig.twig' %}
{{ "{% endblock %}" }}
